<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク更新</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>タスク更新</h1>
							
	<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="post">
	
		<form action="/tasks/add" method="post">

		<table border="1">
			<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}"></li>
						</ul>
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name="categoryId">
						<option name="categoryId"value ="1">運動</option>
						<option name="categoryId"value="2">勉強</option>
						<option  name="categoryId"value ="3">仕事</option>
						<option  name="categoryId"value ="4">その他</option>
							</optio>	
					</select>	
				</td>
			</tr>
			
			<tr>
				<th>タイトル</th>
				<td>
					<input type ="text" name="title"th:value="${task.title}">
				</td>
			</tr>
			
			<tr>
				<th>期限</th>
				<td>
					<input type ="date" name="closing_date"th:value="${task.closing_date}">
				</td>
			</tr>
			
			<tr>
				<th>進捗状況</th>
				<td>
					<select name="progress">
						<option name="progress"value ="0">未着手</option>
						<option  name="progress"value ="1">進行中</option>
						<option  name="progress"value ="2">完了</option>
						</optio>	
				</select>	
				</td>
			</tr>
			
			<tr>
				<th>メモ</th>
				<td>
					<textarea name="memo" cols="30" rows="4"></textarea>
				</td>
			</tr>
		</table>
		<button>更新</button>
		<br> <span th:text="${message}" style="color: red"></span>
	</form>
</body>
</html>