<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDoアプリ</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>社会人向けToDoアプリ</h1>
	<header th:replace="~{header}"></header>
	
	<table border ="1">
		<form action="/tasks" method="get">
		<input type="text" name="keyword" th:value="${keyword}"placeholder="タイトル名">
		<button>検索</button>
		</form>
	<tr>
		<a href="/tasks">全タスク</a>
				<a th:each="category:${categories}"
			       th:href="@{/tasks(categoryId=${category.id})}"
			       th:text="${category.name}"></a>
	</tr>
	
	<h3><p>現在のタスク件数: <span th:text="${taskCount}">0</span> 件</p></h3>
	<tr>
		<th>NO</th>
		<th>タイトル</th>
		<th>カテゴリー</th>
		<th>期限</th>
		<th>進捗状況</th>
		<th>メモ</th>
		<th>更新</th>
		<th>削除</th>
	</tr>
	<tr th:each ="task:${tasks}">
		<td th:text="${task.id}"></td>
		<td th:text="${task.title}"></td>
		<td th:text="${task.category.name}"></td>
		<td th:text="${task.closing_date}"></td>
		<td th:if="${task.progress == 0}">未着手</td>
		<td th:if="${task.progress == 1}">進行中</td>
		<td th:if="${task.progress == 2}">完了</td>
		<td th:text="${task.memo}"></td>
		
		<td>
			<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
				<button>更新</button>
			</form>
		</td>
		
		<td>
			<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post">
				<button>削除</button>
			</form>
		</td>
	</tr>
	</table>
	
	<h3>現在のタスク完了率</h3>
	<h3><p>完了率: <span th:text="${progress + '%'}">0</span></p></h3>
	<a href="/tasks/new">新規作成</a>
	<footer th:replace="~{footer}"></footer>
</body>
</html>